# Arquivos gerados pelo Flutter e pelo pub.
.dart_tool/
.packages
.pub-cache/
build/

# Arquivos de configuração de IDEs.
.idea/
.vscode/

# Arquivos gerados pelo Android.
android/.gradle/
android/app/build/
android/app/src/main/assets/flutter_assets/
android/ephemeral/
android/.idea/

# Arquivos gerados pelo iOS.
ios/Pods/
ios/Flutter/App.framework
ios/Flutter/engine
ios/Flutter/flutter_assets
ios/.symlinks/
ios/Runner/GeneratedPluginRegistrant.*

# Arquivos de sistema operacional.
.DS_Store
